<div class="ui one column centered grid">
    <div class="ui statistics">
        <div class="statistic">
            <div class="value">
                {{ new || "NO" }}
            </div>
            <div class="label">
                New jobs
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                {{ archived || "NO" }}
            </div>
            <div class="label">
                Archived jobs
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                {{ idle || "NO" }}
            </div>
            <div class="label">
                Jobs to check
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                {{ pending || "NO" }}
            </div>
            <div class="label">
                Pending jobs
            </div>
        </div>
    </div>
</div>
